<font color="green">
  <% if flash[:notice] %>
    <p id="notice">
      <%= flash[:notice] %>
    </p>
  <% end %>
  </font>

<div class="container">
  <div class="row">
    <div class="col-md-3 pt-3">
      <%= render 'users/user_info', user: @user %>
        <div>
          <h2>New book</h2>
          <%= form_with model:@book_new, local:true do |f| %>
            <p>Title</p>
            <%= f.text_field :title, class: 'form-control' %>
            <p>Opinion</p>
            <%= f.text_area :body, class: 'form-control' %>
            </br>
            <%= f.submit 'Create Book', class: 'btn btn-success' %>
          <% end %>
        </div>
    </div>
    <div class="col-md-8 offset-md-1 pt-3">
      <h2>Book detail</h2>
        <table class="table">
          <tdoby>
            <tr>
              <td>
                <%= link_to user_path(@user.id) do %>
                  <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpg', fallback: "no_image.jpg" %>
                  </br>
                  <%= @user.name %>
                <% end %>
              </td>
              <td>
                <%= link_to book_path(@book.id) do %>
                  <%= @book.title %>
                <% end %>
              </td>
              <td><%= @book.body %></td>
              <td>
              <% if @book.user == current_user %>
                <%= link_to "Edit", edit_book_path(@book), class: 'btn btn-sm btn-success' %>
              <% end %>
              </td>
              <td>
              <% if @book.user == current_user %>
                <%= link_to "Destroy", book_path(@book), method: :delete, "data-confirm" => "本当に消しますか?", class: 'btn  btn-sm btn-danger' %>
              <% end %>
              </td>
            </tr>
          </tdoby>
        </table>
    </div>
  </div>
</div>